{% extends "base.html" %}

{% block content %}
    <h3 class="text-center">Hi, {{ current_user.name }}</h3>
    <div class="container d-flex justify-content-center mt-4">
        <form action="{{ url_for('index') }}" method="POST">
            {% if status_db == True %}
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="q" value="0" class="custom-control-input" onchange="this.form.submit()">
                    <label class="custom-control-label" for="customRadioInline1">OFF</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="q" value="1" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customRadioInline2">ON</label>
                </div>
            {% elif status_db == False %}
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="q" value="0" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customRadioInline1">OFF</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="q" value="1" class="custom-control-input" onchange="this.form.submit()">
                    <label class="custom-control-label" for="customRadioInline2">ON</label>
                </div>
            {% else %}
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="q" value="0" class="custom-control-input" onchange="this.form.submit()">
                    <label class="custom-control-label" for="customRadioInline1">OFF</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="q" value="1" class="custom-control-input" onchange="this.form.submit()">
                    <label class="custom-control-label" for="customRadioInline2">ON</label>
                </div>
            {% endif %}
        </form>
    </div>
    <section class="my-4">
        <div class="container">
            <h6 class="mb-4"><strong> What do you feel right now?</strong></h6>
            <form action="{{ url_for('feeling') }}" method="POST">
                <div class="d-flex justify-content-center mb-4">
                        <div class="row">
                        {% for feel in feelings %}
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox{{ loop.index }}" name="{{ loop.index }}" value="{{ loop.index }}" onchange="document.getElementById('submitFelling').disabled = false">
                                    <label class="form-check-label" for="inlineCheckbox{{ loop.index }}">{{ feel }}</label>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <input class="btn btn-outline-secondary mr-4" type="reset" value="Clear" onclick="document.getElementById('submitFelling').disabled = true">
                    <input id="submitFelling" class="btn btn-primary" name="feelings" type="submit" value="Save" disabled>
                </div>
            </form>
        </div>
    </section>
    <h6 class="mt-4">Last 6 states</h>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">State</th>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
            {% if control_list|length != 0 %}
                {% for item in control_list %}
                    {% if item["status"]  == "On" %}
                        <tr class="table-success">
                    {% else %}
                        <tr class="table-danger">
                    {% endif %}
                            {% if loop.index == 1 %}    
                                <td><b>{{ item["status"] }}</b></td>
                                <td>{{ item["delta"] }}</td>
                                <td class="d-flex justify-content-between">
                                    <span>{{ item["date"] }}</span>
                                    <form action="{{ url_for('index') }}" method="POST">
                                        <button type="submit" class="btn btn-secondary btn-sm" name="delete" value="{{ item['uid'] }}">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                              </svg>
                                        </button>
                                    </form>
                                </td>
                            {% else %}
                                <td><b>{{ item["status"] }}</b></td>
                                <td>{{ item["delta"] }}</td>
                                <td>{{ item["date"] }}</td>
                            {% endif %}
                        </tr>
                {% endfor %}
            {% elif first_entry %}
                <tr class="table-secondary">
                    <td colspan="3" class="text-center"><b>Waiting for the state to end to do the first register...</b></td>
                </tr>
            {% else %}
            <tr class="table-primary">
                <td colspan="3" class="text-center"><b>No data yet</b></td>
            </tr>
            {% endif %}
        </tbody>
      </table>

{% endblock %}